### 1. The First Program

In [1]:
"Hello, World!"

'Hello, World!'

### 2. Arithmetic Operators

<img src="imgs/python-arithmetic-operators.jpg">

In [2]:
print("15+8 = ", 15+8)
print("15-8 = ", 15-8)
print("15*8 = ", 15*8)
print("15**8 = ", 15**8)
print("15/8 = ", 15/8)
print("15//8 = ", 15//8)
print("15%8 = ", 15%8)

15+8 =  23
15-8 =  7
15*8 =  120
15**8 =  2562890625
15/8 =  1.875
15//8 =  1
15%8 =  7

#### 2.1. Order of operations 

##### PEMDAS:
- Parentheses
- Exponentiation
- Multiplication
- Division
- Addition 
- Subtraction

In [3]:
3 * (16-8)/2**3 + 4

7.0

### 3. Data Types

#### 3.1. Getting the Data Type
You can get the data type of any object by using the type() function:

In [4]:
print(type("Hello"))

<class 'str'>

In [5]:
print(type(3))

<class 'int'>

In [6]:
print(type(3.1415))

<class 'float'>

In [7]:
print(type(True))

<class 'bool'>

In [8]:
print(type(5+3j))

<class 'complex'>

#### 3.2. Casting

In [9]:
print(int(3.1415))

3

In [10]:
print(float(255))

255.0

In [11]:
print(str(256))

256

In [12]:
print(bool(0), bool(1))

False True

### 4.Variables

#### 4.1. Defining a variable name
Officially, variable names in Python can be any length and can consist of uppercase and lowercase letters ( A-Z , a-z ), digits ( 0-9 ), and the underscore character ( _ )

In [13]:
x1 = 15
speed_of_light = 299_792_458
pi = 3.1415
message = "This is a message!"

In [14]:
type(speed_of_light)

int

In [15]:
x@
x.

SyntaxError: invalid syntax (3265813563.py, line 1)

#### Quiz

In [16]:
x = 1.
x

1.0

In [17]:
x = y = z = 1
print(x,y,z)

1 1 1

In [18]:
a, b = 3, 4
a,b

(3, 4)

In [40]:
# Swap Two Variables
# temp = a
# a = b
# b = temp
# a,b 

a, b = b, a
a,b

(4, 3)

In [21]:
x = x + 1 # x+=1
y = y * 5 # y*=5
print(x,y)

2 5

In [22]:
is_active = True
response = None

In [33]:
float('inf') # positive infinity
float('-inf') # negative infinity

-inf

In [27]:
float('nan') #not a number

nan

In [34]:
# comment

#### 4.2.Python3 keywords
<img src="imgs/python-keywords.jpg" >

### 5. String

In [35]:
text1 = "Hello"  #
text2 = 'World'  #

In [36]:
print(text1 + text2)  #

HelloWorld

In [37]:
print(text1 + text2 + "!")  #

HelloWorld!

In [38]:
print(text1 * 3)  #

HelloHelloHello

In [39]:
len(text1)

5

In [ ]:
name = 'Max'
age = 18

print(f"Hello, My name is " + name + " and I'm " + str(age) + " years old.")
print(f"Hello, My name is {name} and I'm {age} years old.")  #f string

In [ ]:
print("""\
Usage:app.py [OPTIONS]
     -h      help
     -M      Menu  
""")

#### 5.1.Indexing Strings

In [ ]:
message = "Python Programming Language"
message[0]

In [ ]:
message[len(message)]

In [ ]:
message[len(message) - 1]

#### 5.2. Reverse Indexing

In [ ]:
message[-1]

In [ ]:
message[-2]

In [ ]:
message[:6]

In [ ]:
message[-8:]

In [ ]:
# Strings are immutable
message[0] = "J"

### 6. Getting Help

In [ ]:
type(message)

In [ ]:
dir(str)

In [ ]:
help(message.split)

In [ ]:
message.split(" ")

In [ ]:
message.find('L')

In [ ]:
message.index("Lang")

In [ ]:
message.upper()

In [ ]:
message.lower()

In [ ]:
text = "1"
text.isdigit()

### 7.Decision Making

#### 7.1 if ... else Statement

In [ ]:
age = 15

if age < 18:
    print("Child") #use tab or 4 space's
else:
    print("Adult")

In [ ]:
age = 45

if age < 18:
    print("Child")
elif 18 <= age <= 30:
    print("Young Adult")
elif 30 < age <= 45:
    print("Middle-aged Adult")
else:
    print("Elderly")

In [ ]:
is_active = True

if is_active:
    print("Acive")

In [ ]:
message = None

if message: print(message)

In [ ]:
text = "Hello World"

if "Hello" in text.split():
    print(True)

#### 7.2 match statement

In [ ]:
status = 404

match status:
    case 400:
        print("Bad request")
    case 404:
        print("Not found") 
    case 418:
        print("I'm a teapot") 
    case _:
        print("Something's wrong with the internet")

### 8. Loops

#### 8.1. for loop

In [ ]:
for letter in 'Python':
    print('Current Letter :', letter)

#### 8.2. range()

In [ ]:
help(range)

In [ ]:
for num in range(0, 5):
    print("Current Number: ", num)

In [ ]:
for num in range(0, 5, 2):
    print("Current Number: ", num)

In [ ]:
quote = "You cannot escape the responsibility of tomorrow by evading it today."
for i in range(len(quote)):
    letter = quote[i]
    print(letter, end="")

#### Quiz

In [ ]:
for x in range(0.5, 5.5, 0.5):
    print(x)

#### 8.3. break

In [ ]:
for i in range(len(quote)):
    letter = quote[i]
    if letter == "s": 
        break
    print(letter, end="")

#### 8.4. Using else Statement with for Loop

In [ ]:
container = ["header", "title", "body","footer"]

for item in container:
    if item == "subject":
        print("Found it!")
        break
else:
    print("Didn't find anything..")

#### 8.5. while loop

In [ ]:
count = 0
while count < 9:
    print("The count is:", count)
    count = count + 1

#### 8.6. nested loops

In [ ]:
for i in range(5):
    for j in range(2):
        print(i,j, i*j)

#### 8.7. enumerate()

In [ ]:
text = "Python"
for idx, letter in enumerate(text):
    print(idx, letter)

#### Quiz:
Write a script to return the count of "Emma" from a text:

In [ ]:
text = "Emma is good developer. Emma is a writer"

#### Quiz:
Print the following pattern:
- 1 
- 2 2
- 3 3 3 
- 4 4 4 4 
- 5 5 5 5 5

#### Quiz:
Write a Program to extract each digit from an integer in the reverse order.
- input : 5263
- output: 3625

#### Quiz
Write a program that writes the Fibonacci series to an arbitrary boundary:

#### Quiz
Write a script that writes Fibonacci numbers from 0 to the n'th number

### 9. Functions

### 10. Data Structures

#### 10.1 List

#### 10.2. Tuple

#### 10.3. Dictionary

#### 10.4. Set