### 1. The First Program

In [ ]:
"Hello, World!"

### 2. Arithmetic Operators

<img src="imgs/python-arithmetic-operators.jpg">

In [ ]:
print("15+8 = ", 15+8)
print("15-8 = ", 15-8)
print("15*8 = ", 15*8)
print("15**8 = ", 15**8)
print("15/8 = ", 15/8)
print("15//8 = ", 15//8)
print("15%8 = ", 15%8)

#### 2.1. Order of operations 

##### PEMDAS:
- Parentheses
- Exponentiation
- Multiplication
- Division
- Addition 
- Subtraction

In [ ]:
3 * (16-8)/2**3 + 4

### 3. Data Types

#### 3.1. Getting the Data Type
You can get the data type of any object by using the type() function:

In [ ]:
print(type("Hello"))

In [ ]:
print(type(3))

In [ ]:
print(type(3.1415))

In [ ]:
print(type(True))

In [ ]:
print(type(5+3j))

#### 3.2. Casting

In [ ]:
print(int(3.1415))

In [ ]:
print(float(255))

In [ ]:
print(str(256))

In [ ]:
print(bool(0), bool(1))

### 4.Variables

#### 4.1. Defining a variable name
Officially, variable names in Python can be any length and can consist of uppercase and lowercase letters ( A-Z , a-z ), digits ( 0-9 ), and the underscore character ( _ )

In [ ]:
x1 = 15
speed_of_light = 299_792_458
pi = 3.1415
message = "This is a message!"

In [ ]:
type(speed_of_light)

In [ ]:
x@
x.

#### Quiz

In [ ]:
x = 1.
x

In [ ]:
x = y = z = 1
print(x,y,z)

In [ ]:
a, b = 3, 4
a,b

In [ ]:
# Swap Two Variables
# temp = a
# a = b
# b = temp
# a,b 

a, b = b, a
a,b

In [ ]:
x = x + 1 # x+=1
y = y * 5 # y*=5
print(x,y)

In [ ]:
is_active = True
response = None

In [ ]:
float('inf') # positive infinity
float('-inf') # negative infinity

In [ ]:
float('nan') #not a number

In [ ]:
# comment

#### 4.2.Python3 keywords
<img src="imgs/python-keywords.jpg" >

### 5. String

In [ ]:
text1 = "Hello"  # double-quote
text2 = 'World'  # single-quote

In [ ]:
print(text1 + text2)  #string concatenation

In [ ]:
print(text1 + text2 + "!")  #string concatenation

In [ ]:
print(text1 * 3)  #Create multiple copies of a string in Python by using multiplication operator

In [ ]:
len(text1) #To get the length of a string

In [ ]:
name = 'Max'
age = 18

print("Hello, My name is " + name + " and I'm " + str(age) + " years old.")

print("Hello, My name is %s and I'm %d years old." %(name, age))

print(f"Hello, My name is {name} and I'm {age} years old.")  # f-string

print("Hello, My name is {} and I'm {} years old.".format(name, age))  # f-string

In [ ]:
# Docstring
print("""\
Usage:app.py [OPTIONS]
     -h      help
     -M      Menu  
""")

In [ ]:
# Use the Shift + Tab shortcut to access the docstring documentation of a function.

#### 5.1.Indexing Strings
<img src="imgs/python-strings.jpg" width=400>

In [ ]:
message = "Python Programming Language"
message[0]

In [ ]:
message[len(message)]

In [ ]:
message[len(message) - 1]

#### 5.2. Reverse Indexing

In [ ]:
message[-1]

In [ ]:
message[-2]

#### 5.3.Substring

In [ ]:
# String[start:end:step]

In [ ]:
message[0:6:2]

In [ ]:
message[:6]

In [ ]:
message[-8:]

In [ ]:
# Strings are immutable
message[0] = "J"

### 6. Getting Help

In [ ]:
type(message)

In [ ]:
dir(str)

In [ ]:
help(message.split)

In [ ]:
message.split(" ")

In [ ]:
message.find('L')

In [ ]:
message.index("Lang")

In [ ]:
message.upper()

In [ ]:
message.lower()

In [ ]:
text = "1"
text.isdigit()

### 7.Decision Making
<img src="imgs/Conditional-Statements-in-Python.jpg" width=400>

#### 7.1 if ... else Statement

In [ ]:
age = 15

if age < 18:
    print("Child") #use tab or 4 space's
else:
    print("Adult")

In [ ]:
age = 45

if age < 18:
    print("Child")
elif 18 <= age <= 30:
    print("Young Adult")
elif 30 < age <= 45:
    print("Middle-aged Adult")
else:
    print("Elderly")

In [ ]:
is_active = True

if is_active:
    print("Acive")

In [ ]:
message = None

if message: print(message)

In [ ]:
text = "Hello World"

if "Hello" in text.split():
    print(True)

In [ ]:
status = True

if status is True:
    print("True")

In [ ]:
status = True

if status is not True:
    print("False")

In [ ]:
condition1 = True
condition2 = False

if condition1 and condition2:
    print("and")

if condition1 | condition2:
    print("or")

#### 7.2 match statement

In [ ]:
status = 400

match status:
    case 400:
        print("Bad request")
    case 404:
        print("Not found") 
    case 418:
        print("I'm a teapot") 
    case _:
        print("Something's wrong with the internet")

### 8. Loops
<table>
    <tr>
        <td>
            <img src="imgs/Python-For-Loops.jpg" width=400>
        </td>
        <td>
            <img src="imgs/Python-While-Loops.jpg" width=400>
        </td>
    </tr>
</table>

#### 8.1. for loop

In [ ]:
for letter in 'Python':
    print('Current Letter :', letter)

#### 8.2. range()

In [ ]:
help(range)

In [ ]:
for num in range(0, 5):
    print("Current Number: ", num)

In [ ]:
for num in range(0, 5, 2):
    print("Current Number: ", num)

#### Quiz

In [ ]:
for x in range(0.5, 5.5, 0.5):
    print(x)

#### 8.3. break

In [ ]:
quote = "You cannot escape the responsibility of tomorrow by evading it today."

for i in range(len(quote)):
    letter = quote[i]
    if letter == "s": 
        break
    print(letter, end="")

#### 8.4. Using else Statement with for Loop

In [ ]:
container = ["header", "title", "body","footer"]

for item in container:
    if item == "subject":
        print("Found it!")
        break
else:
    print("Didn't find anything..")

#### 8.5. while loop

In [ ]:
count = 0
while count < 9:
    print("The count is:", count)
    count = count + 1

#### 8.6. nested loops

In [ ]:
for i in range(5):
    for j in range(2):
        print(i,j, i*j)

#### 8.7. enumerate()

In [ ]:
text = "Python"
for idx, letter in enumerate(text):
    print(idx, letter)

#### Quiz:
Write a script to return the count of "Emma" from a text:

In [ ]:
text = "Emma is good developer. Emma is a writer"

#### Quiz:
Print the following pattern:
- 1 
- 2 2
- 3 3 3 
- 4 4 4 4 
- 5 5 5 5 5

#### Quiz:
Write a Program to extract each digit from an integer in the reverse order.
- input : 5263
- output: 3625

#### Quiz
Write a program that writes the Fibonacci series to an arbitrary boundary:

#### Quiz
Write a script that writes Fibonacci numbers from 0 to the n'th number

### 9. Data Structures
<img src="imgs/python-ds.jpg" width=500>

#### 9.1 List

Like a string, a list is a sequence of values.

#### 9.1.1. Defining a list

In [ ]:
series = []
movies = list()
type(series), type(movies)

In [ ]:
names = ['Ross', 'Monica', 'Chandler','Joey','Phoebe','Rachel']
ages = [26, 24, 26, 25, 26, 24]
movies = [7, 'Interstelar', ['The Matrix 1','The Matrix 2','The Matrix 3']]

In [ ]:
matrix = [[1,1,1],
          [2,3,4],
          [5,6,7]]

#### 9.1.2. Lists are mutable

In [ ]:
movies[-1] = 'Arrival'
movies

#### 9.1.3. Traversing a list

In [ ]:
books = ['Momma and the Meaning of Life', 'When Nietzsche Wept', 'The Schopenhauer Cure']
for book in books:
    print(book)

In [ ]:
'When Nietzsche Wept' in books

#### 9.1.4. List Operations

In [ ]:
a = [1,2,3,4]
b = [5,6,7,8]
c = a + b
c

In [ ]:
a = [1,2,3]
c = a * 3
c

#### 9.1.5. List Slices

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e','f','g']
letters[0:2]

In [ ]:
letters[0::2]

In [ ]:
letters[:-2]

In [ ]:
letters[0:2] = ['h','i']
letters

#### 9.1.6. List methods

##### 9.1.6.1. append(x)

In [ ]:
# Add an item to the end of the list. Equivalent to a[len(a):] = [x].

names = ['Ross', 'Monica', 'Chandler','Joey','Phoebe','Rachel']
names.append('Gunther')
names

#### 9.1.6.2. extend(iterable)

In [ ]:
# list.extend(iterable)
# Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.
group_a = [9, 5, 6, 9, 7]
group_b = [4, 6, 3]
group_a.extend(group_b)
group_a

#### 9.1.6.3. insert(i, x)

In [ ]:
# list.insert(i, x)
# Insert an item at a given position.
ranking = [9, 5, 6, 9, 7]
ranking.insert(0, 4)
ranking

#### 9.1.6.4. copy()

In [ ]:
# list.copy()
# Return a shallow copy of the list. Equivalent to a[:].
ages = [26, 24, 26, 25, 26, 24]
new_ages = ages.copy()
new_ages.insert(0, 15)
ages, new_ages

In [ ]:
ages = [26, 24, 26, 25, 26, 24]
new_ages = ages
new_ages.insert(0, 15)
ages, new_ages

#### 9.1.6.5. remove(x)

In [ ]:
# list.remove(x)
# Remove the first item from the list whose value is equal to x.
books = ['Momma and the Meaning of Life', 'When Nietzsche Wept', 'The Schopenhauer Cure']
books.remove('When Nietzsche Wept')
books

#### 9.1.6.6. pop([i])

In [ ]:
# list.pop([i])
# Remove the item at the given position in the list, and return it.
names = ['Ross', 'Monica', 'Chandler','Joey','Phoebe','Rachel']
names.pop(-1), names.pop()

#### 9.1.6.7. count(x)

In [ ]:
# list.count(x)
# Return the number of times x appears in the list.
letters = ['a', 'b', 'c', 'd', 'e','f','g','f']
letters.count('f')

#### 9.1.6.8. index(x[, start[, end]])

In [ ]:
# list.index(x[, start[, end]])
# Return zero-based index in the list of the first item whose value is equal to x.
letters = ['a', 'b', 'e', 'd', 'e','f','g','f']
letters.index('e'), letters.index('e', 3)

#### 9.1.6.9. sort()

In [ ]:
# list.sort(*, key=None, reverse=False)
# Sort the items of the list in place)
fruits = ['orange', 'apple', 'pear', 'kiwi', 'banana']
fruits.sort()
fruits

In [ ]:
fruits = ['orange', 'apple', 'pear', 'kiwi', 'banana']
sorted(fruits)

#### 9.1.7. Nested Lists

In [ ]:
# [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

matrix = [[i, i+1, i+2] for i in [1,4,7]]
matrix

In [ ]:
matrix = [[j for j in range(i,i+3)] for i in range(1,10,3)]
matrix

### 9.1.8. del

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
del matrix[0:2]
matrix

#### 9.2. Tuple

In [ ]:
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

names = ()
books = tuple(('x','y'))

sizes = 'large',

ranking = ('a', 'b', 'c')
ages = 1,2,3,4

data = ("abc", 34, True, 40, "male")

In [ ]:
# Unpacking
rank1, rank2, rank3 = ranking

In [ ]:
# Slicing
data[1:3]

In [ ]:
# Tuples Are Immutable
data[0] = 5

In [ ]:
# str to tuple
tuple('Python')

In [ ]:
# zip
s = ('a','b','c')
d = (1,2,3)

for pair in zip(s,d):
    print(pair)

#### 9.3. Dictionary

In [ ]:
# Dictionaries are used to store data values in key:value pairs

In [ ]:
ages1 = dict([('Maria', 1996), ('Alex', 1997), ('Jack', 1994)])

ages2 = dict(Maria=1996, Alex=1997, Jack=1994)


car = {"brand": "Ford",
      "model": "Mustang",
      "year": 1964}

print(ages1)
print(ages2)
print(car)

In [ ]:
ages1['Maria']

In [ ]:
car.get('brand')

In [ ]:
car.get('age', 0)

In [ ]:
keys = car.keys()
values = car.values()
items = car.items()
    
print(keys)
print(values)
print(items)

In [ ]:
for k,v in car.items():
    print(k , v)

In [ ]:
# list as a key for dictionary
data = {[1,2,3]:3, [1,2]:2}

In [307]:
data = {(1,2,3):3, (1,2):2}
data

{(1, 2, 3): 3, (1, 2): 2}

In [308]:
data[1,2]

2

#### Quiz

In [ ]:
# Suppose you are given a string and you want to count how many times each letter appears.
# Use a dictionary and write a script to do this:

text = "Today is hard, tomorrow will be worse, but the day after tomorrow will be sunshine."

#### 9.4. Set

In [309]:
# A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements.

In [322]:
fruits = {"apple", "banana", "cherry"}
brands = set(["Tesla","Cadillac","Nissan","Jeep","BMW","BMW"])
brands

{'BMW', 'Cadillac', 'Jeep', 'Nissan', 'Tesla'}

In [315]:
fruits = fruits.union({"orange"})
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [316]:
fruits.add("grape")
fruits

{'apple', 'banana', 'cherry', 'grape', 'orange'}

In [323]:
brands.remove("BMW")
brands

{'Cadillac', 'Jeep', 'Nissan', 'Tesla'}

In [331]:
set1 = set()
set2 = set()
 
for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)
    
set1, set2

({0, 1, 2, 3, 4}, {3, 4, 5, 6, 7, 8})

In [332]:
set1.union(set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [333]:
set1 | set2

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [335]:
set1.intersection(set2)

{3, 4}

In [336]:
set1 & set2

{3, 4}

In [337]:
set1.difference(set2)

{0, 1, 2}

In [338]:
set1 - set2

{0, 1, 2}

In [341]:
set1 ^ set2

{0, 1, 2, 5, 6, 7, 8}

### 10. Functions

In [342]:
def print_fib(boundary):
    """
    print the Fibonacci series to an arbitrary boundary
    
    parameters:
    -----------
    boundary: integer number
    
    return:
    -----------
    None
    """
    a, b = 0, 1
    
    while a < boundary:
        print(a, end=" ")
        a,b = b, a+b

In [343]:
print_fib(15)

0 1 1 2 3 5 8 13

In [344]:
def print_fib_series(n):
    """
    print the Fibonacci series from 0 to the n'th number
    
    parameters:
    -----------
    n: integer number
    
    return:
    -----------
    None
    """
    a, b = 0, 1
    counter = 0
    while counter < n:
        print(a, end=" ")
        counter += 1
        a,b = b, a+b

In [345]:
print_fib_series(10)

0 1 1 2 3 5 8 13 21 34